<template>
    <app-servers></app-servers>
</template>

<script>
    export default {
        data: function() {
            return {
                status: 'Critical'
            }
        }
    }
</script>

<style>

</style>
