<template>
    <div class="container">
        <form v-if="!isSubmitted">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1>Exercise 1</h1>
                    <hr>
                    <app-full-name v-model="userData.fullname"></app-full-name>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                                type="email"
                                id="email"
                                class="form-control"
                                v-model="userData.email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                id="password"
                                class="form-control"
                                v-model="userData.password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                    <label>
                        Save Data?
                        <label for="saveDataYes">
                            <input
                                    type="radio"
                                    id="saveDataYes"
                                    value="true"
                                    v-model="storeData"> Yes
                        </label>
                        <label for="saveDataNo">
                            <input
                                    type="radio"
                                    id="saveDataNo"
                                    value="false"
                                    v-model="storeData"> No
                        </label>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                    <button class="btn btn-primary"
                            @click.prevent="isSubmitted = true">Submit
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div v-if="isSubmitted" class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{ userData.fullname }}</p>
                        <p>Mail: {{ userData.email }}</p>
                        <p>Password: {{ userData.password }}</p>
                        <p>Store in Database?: {{ storeData }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FullName from './components/FullName.vue'

    export default {
        data() {
            return {
                userData: {
                    fullname: '',
                    email: 'test@test.com',
                    password: 'password'
                },
                storeData: false,
                isSubmitted: false,
            }
        },
        components: {
            'app-full-name': FullName
        },
    }
</script>

<style>
</style>
