 <script src="https://unpkg.com/vue"></script>

<div id="exercise">
    <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p>VueJS is pretty cool - {{ name }} {{ age }}</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>{{ ageTimesThree() }}</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p>{{ randomFloat() }}</p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img v-bind:src="imgLink" style="width:100px; height:100px">
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <input type="text" v-bind:value="name">
    </div>

    <script>
        new Vue({
            el: '#exercise',
            data: {
                name: 'Ben',
                age: '24',
                imgLink: 'https://upload.wikimedia.org/wikipedia/en/7/78/Small_scream.png'
            },
            methods: {
                ageTimesThree: function() {
                    return this.age * 3;
                },
                randomFloat: function() {
                    return Math.random();
                }
            }
        });
    </script>
</div>