<template>
    <div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input
                    type="text"
                    id="firstname"
                    class="form-control"
                    v-model="firstname"
                    @keyup="switched(firstname, lastname)">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input
                    type="text"
                    id="lastname"
                    class="form-control"
                    v-model="lastname"
                    @keyup="switched(firstname, lastname)">
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                firstname: 'John',
                lastname: 'Smith',
            }
        },
        methods: {
            switched(firstname, lastname) {
                this.$emit('input', firstname + ' ' + lastname)
            }
        }
    }
</script>

<style></style>