<template>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>{{ footerText }}</p>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                footerText: 'All Servers are managed here'
            }
        }
    }
</script>